footer {
  position: fixed;
  bottom: 0px;
  background-color: #fff;
  color: #444;
  width: 100%;
  text-align: center;
  align-items: center;
  height: 20px;
  font-size: 15px;
  transition: font-size 3s;
  padding: 5px;

  a {
    margin-left: 10px;
    color: rgb(133, 133, 131);
  }
}
